/* Resetowanie domyślnych stylów przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styl dla całej strony */
body {
    
    font-family: Arial, sans-serif;
    background-color: #abacb1;
    margin: 0;
    padding: 0;
    
    
}

/* Styl dla nagłówka */
header {
    background-image: url('images/code2_bg.png');
    background-position: top center;   
    background-size: auto;
    background-color: #abacb1;
    color: #000000;
    padding: 20px 0;
    text-align: center;
    height: 660px;
    
    
    
}


/* Styl dla loga tekstowego */
#menu_symulacji {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

/* Styl dla menu nawigacyjnego */
nav ul {
    list-style-type: none;
    text-align: center;

}

nav ul li {
    display: inline-block;
    margin:  10px;
    border: 2px solid;
    padding: 5px;
}

#panel_boczny {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    transition: color 0.4s ease;
    margin-top: 20px;
}

nav ul li a:hover {
    color: #ff0000;
    
}

.container1 h2 {
    color: rgb(0, 0, 0);
    padding-bottom: 50px;
}


/* Styl dla głównej treści */
.container1 {
    max-width: 800px;
    margin: 20px auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container2 {
    margin-bottom: 20px;
    color: white;
}

/* Styl dla panelu bocznego */
.sidebar {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    width: 800px;
    margin: 20px auto;
    
    
}

/* Styl dla stopki */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 800px;
    margin: 20px auto;
    
    
}

/* Styl dla linków w stopce */
footer a {
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    font-weight: bold;
    border-radius: 10px;
}

/* Styl dla linków w stopce po najechaniu */
footer a:hover {
    text-decoration: underline;
}
